{% extends 'base.html' %}

{% block content %}
<form action="http://localhost/delete-all" method="POST" style="margin: 10px">
    <input type="submit" name="delete_all" value="Delete All">
</form>
<div style="display: grid; grid-template-columns: auto auto auto">
    {% for i in range(0, len) %}
    <div style="width: fit-content">
        <img src="data:image/gif;base64,{{all_gif[i]}}">
        <form action="http://localhost/delete" method="POST">
            <input type="text" name="delete_obj" value="{{obj_names[i]}}" style="display: none">
            <input type="submit" name="delete" value="Delete">
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}